@import "tailwindcss";

@theme {
  --font-family-inter: var(--font-inter), sans-serif;
  --font-family-caveat: var(--font-caveat), cursive;
  --font-family-barlow: var(--font-barlow), sans-serif;
  --font-family-mono: monospace;

  --color-dark-primary: #181a1b;
  --color-dark-secondary: #25282a;
  --color-dark-white: #f2f5fa;
  --color-dark-3: #b8b8b8;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: auto;
}
body::-webkit-scrollbar {
  width: 6px;
}

/* Adding Scroll Margin for top */
* {
  scroll-margin-top: 80px;
}
@media screen and (max-width: 640px) {
  * {
    scroll-margin-top: 60px;
  }
  body::-webkit-scrollbar {
    width: 2px;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-dark-primary);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

.dark::-webkit-scrollbar-thumb {
  background-color: #393e41;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.lock-scroll {
  overflow: hidden !important;
}

.horizontal-scrollbar::-webkit-scrollbar {
  height: 3px;
  border-redius: 999px;
}

/* For preventing the blue highlight color box on tap(click) */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Layers Components or the custom class extends with tailwind */
@layer components {
}

@layer base {
  body {
    font-family: var(--font-family-inter);
    background-color: var(--color-dark-white);
  }
  button {
    outline: none;
  }
  hr {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
    height: 0.125rem;
    background-color: rgb(55 65 81) !important;
    border: 0;
    border-radius: 9999px !important;
  }
  .dark hr {
    background-color: rgb(209 213 219) !important;
  }

  table {
    border-collapse: collapse !important;
    text-align: left;
  }

  table thead tr > th,
  table tbody tr > td {
    padding: 0.5rem !important;
    border: 1px solid rgb(156 163 175);
    vertical-align: middle;
  }

  table thead tr > th {
    color: black;
  }
  .dark table thead tr > th {
    color: white;
  }

  table thead tr {
    vertical-align: text-top;
  }
  table th {
    font-weight: bold;
  }
  table a {
    color: rgb(59 130 246) !important;
  }
  .dark table a {
    color: rgb(96 165 250) !important;
  }

  strong {
    color: black !important;
    font-weight: bold !important;
  }
  .dark strong {
    color: white !important;
  }

  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    color: black !important;
    font-weight: bold !important;
    text-decoration: none !important;
  }
  .dark h2 > a,
  .dark h3 > a,
  .dark h4 > a,
  .dark h5 > a,
  .dark h6 > a {
    color: white !important;
  }
}

@layer utilities {
  /* Hiding the arrows in the input number */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
